// @import 'bootstrap/scss/bootstrap-utilities';
@import 'bootstrap/scss/mixins/banner';
@include bsBanner(Utilities);

// Configuration
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// Layout & components
// @import 'bootstrap/scss/root';

// Helpers
// @import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}



[goldfinch-dashpanel] {}

.gfdashpanel {
  position: fixed;
  z-index: 11000;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.gfdashpanel .gfdashpanel__switch {
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  margin-left: auto;
  opacity: .25;
  transition: opacity .3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &:before {
    content: '';
    display: block;
    background-color: #5c5c5c;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    width: 24px;
    height: 24px;
    transition: background-color .3s ease-in-out;
    mask-image: url('../node_modules/bootstrap-icons/icons/lightning-fill.svg');
  }
}

.gfdashpanel .gfdashpanel__switch.gfdashpanel__switch--active {
  opacity: 1;
  // background-color: #ffd23f;
  // border: 1px solid rgb(#5c5c5c, 17%);
}

.gfdashpanel__elementswitch {
  position: absolute;
  bottom: 40px;
  right: 3px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  opacity: .25;
  transition: opacity .3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &:before {
    content: '';
    display: block;
    background-color: #5c5c5c;
    mask-repeat: no-repeat;
    mask-size: 90%;
    mask-position: center;
    width: 100%;
    height: 100%;
    transition: background-color .3s ease-in-out;
    mask-image: url('../node_modules/bootstrap-icons/icons/eye-fill.svg');
  }
}

.gfdashpanel__elementswitch.gfdashpanel__elementswitch--hide {
  opacity: 1;

  // &:before {
  //   mask-image: url('../node_modules/bootstrap-icons/icons/eye-slash-fill.svg');
  // }
}

.gfdashpanel .gfdashpanel__wrapper {
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
  }
}

.gfdashpanel .gfdashpanel__primary {
  display: flex;
  align-items: center;
  background-color: #efefef;

  @include media-breakpoint-down(md) {
    border-bottom: 1px solid #ddd;
  }
}

.gfdashpanel .gfdashpanel__primary .siteenv {
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  border-right: 1px solid #ddd;
  position: relative;
  width: 35px;
  height: 36px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: #808080;
    mask-repeat: no-repeat;
    mask-size: 48%;
    mask-position: center;
    width: 100%;
    height: 100%;
    transition: background-color .3s ease-in-out;
    mask-image: url('../node_modules/bootstrap-icons/icons/cone-striped.svg');
  }
}

.gfdashpanel .gfdashpanel__primary .siteentry {
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  font-variant: all-small-caps;
  border-right: 1px solid #ddd;
  position: relative;
  width: 35px;
  height: 36px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: #808080;
    mask-repeat: no-repeat;
    mask-size: 48%;
    mask-position: center;
    width: 100%;
    height: 100%;
    transition: background-color .3s ease-in-out;
    mask-image: url('../node_modules/bootstrap-icons/icons/shield-lock-fill.svg');
  }
}

.gfdashpanel .gfdashpanel__inner {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 7px;

  @include media-breakpoint-down(lg) {
    flex-wrap: wrap;
  }
}

.gfdashpanel .gfdashpanel__inner .pagestate {
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 3.5px 8px 6px;
  font-variant: all-small-caps;
}
.gfdashpanel .gfdashpanel__inner .pagestate[data-type="modified"] {
  background-color: #e95b1c;
}
.gfdashpanel .gfdashpanel__inner .pagestate[data-type="draft"] {
  background-color: #e95b1c;
}
.gfdashpanel .gfdashpanel__inner .pagestate[data-type="published"] {
  background-color: #55bb82;
}
.gfdashpanel .gfdashpanel__inner .pagetype,
.gfdashpanel .gfdashpanel__inner .pagecreated,
.gfdashpanel .gfdashpanel__inner .pageupdated {
  font-size: 11px;
  color: #999;
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
  // border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2.5px 7px 4.5px;

  span {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    font-variant: all-small-caps;

    i {
      display: inline-block;
      background-color: #5c5c5c;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      width: 16px;
      height: 16px;
      transition: background-color .3s ease-in-out;
      background-color: #808080;
      margin-right: 5px;
    }

    i[data-type="page"] {
      mask-image: url('../node_modules/bootstrap-icons/icons/file-earmark-medical-fill.svg');
    }

    i[data-type="clock"] {
      width: 14px;
      height: 14px;
      opacity: .8;
      mask-image: url('../node_modules/bootstrap-icons/icons/clock.svg');
    }

    i[data-type="clock-history"] {
      width: 14px;
      height: 14px;
      opacity: .8;
      mask-image: url('../node_modules/bootstrap-icons/icons/clock-history.svg');
    }
  }
}
.gfdashpanel .gfdashpanel__inner .pageentry {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 26px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    display: block;
    background-color: #808080;
    mask-repeat: no-repeat;
    mask-size: 48%;
    mask-position: center;
    width: 100%;
    height: 100%;
    transition: background-color .3s ease-in-out;
    mask-image: url('../node_modules/bootstrap-icons/icons/shield-lock-fill.svg');
  }
}
.gfdashpanel .gfdashpanel__inner .pagetype {}
.gfdashpanel .gfdashpanel__inner .pagecreated,
.gfdashpanel .gfdashpanel__inner .pageupdated {

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  a {
    color: #89c4bc;
    text-decoration: none;
    margin-left: 5px;
    font-style: italic;
  }

  span {
    margin-right: 5px;
    margin-bottom: 2px;
    color: #666;

    i {
      position: relative;
      bottom: -2px;
    }
  }
}
.gfdashpanel .gfdashpanel__inner .pageupdated {

  span {
    margin-right: 5px;
  }
}

.gfdashpanel .gfdashpanel__sidelinks {
  list-style: none;
  padding: 0 5px 0 0;
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(xxl) {
    width: 100%;
    padding: 5px 5px 0;
    border-top: 1px solid #ddd;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
.gfdashpanel .gfdashpanel__sidelinks li {
  @include media-breakpoint-down(xxl) {
    margin-bottom: 5px;
  }
}
.gfdashpanel .gfdashpanel__sidelinks li:nth-child(n + 2) {
  margin-left: 5px;
}
.gfdashpanel .gfdashpanel__sidelinks li[data-splitter] {
  position: relative;
  height: 100%;
  padding: 7px 5px;

  &:before {
    content: '';
    background-color: rgba(#ddd, .5);
    position: absolute;
    top: 0;
    left: calc(50% - 0.5px);
    width: 1px;
    height: 100%;
  }
}
.gfdashpanel .gfdashpanel__sidelinks li[data-i] {}
.gfdashpanel .gfdashpanel__sidelinks li[data-i] a {
  background-color: #ddd;
  display: inline-block;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: block;
    background-color: #fff;
    mask-repeat: no-repeat;
    mask-size: 80%;
    mask-position: center;
    width: 20px;
    height: 20px;
    transition: background-color .3s ease-in-out;
  }

  &:hover {

    &:before {
      background-color: #5c5c5c;
    }
  }
}
.gfdashpanel .gfdashpanel__sidelinks li[data-i="logout"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/sign-turn-right-fill.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="pages"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/box-fill.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="dashboard"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/rocket-takeoff.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="settings"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/gear-wide-connected.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="person"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/person-circle.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="edit"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/pencil-fill.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="dev"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/fire.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="bug"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/bug-fill.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="performance"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/speedometer.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="sitemap"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/diagram-3-fill.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="robots"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/robot.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="search"] a {

  &:before {
    mask-image: url('../node_modules/bootstrap-icons/icons/search.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i="info"] a {

  &:before {
    // mask-image: url('../node_modules/bootstrap-icons/icons/info-circle-fill.svg');
    // mask-image: url('../node_modules/bootstrap-icons/icons/info.svg');
    // mask-image: url('../node_modules/bootstrap-icons/icons/hdd-fill.svg');
    // mask-image: url('../node_modules/bootstrap-icons/icons/server.svg');
    mask-image: url('../node_modules/bootstrap-icons/icons/database-fill-gear.svg');
  }
}

.gfdashpanel .gfdashpanel__sidelinks li[data-i] a {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  font-weight: 600;
  padding: 3.5px 5px 2.5px;
  transition: color .3s ease-in-out;

  span {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    top: -1px
  }

  &:hover {
    color: #5c5c5c;
  }
}
.gfdashpanel .gfdashpanel__sidelinks li[data-i="inspect"] a {

  &:before {;
    mask-image: url('../node_modules/bootstrap-icons/icons/wrench-adjustable-circle.svg');
  }
}

body {
  position: relative;
}
.controlelements {
  position: absolute;
  z-index: 11000;
  top: 0;
  right: 25px;
  width: 1px;
  height: 100%;
  background-color: #ddd;
}

[data-ss-element] {
  filter: unset;
  transition: filter .5s ease-in-out;
}

.controlelements > a {
  display: block;
  text-decoration: none;
  color: inherit;
  position: absolute;
  width: 20px;
  left: -10px;
  // background-color: #ff0000;
  border-top: .5px solid #ddd;
  border-bottom: .5px solid #ddd;

  &:before {
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    bottom: 50%;
    left: -5px;
    width: 30px;
    height: 30px;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 50%;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    bottom: 50%;
    left: -5px;
    display: block;
    background-color: #ddd;
    mask-repeat: no-repeat;
    mask-size: 50%;
    mask-position: center;
    width: 30px;
    height: 30px;
    mask-image: url('../node_modules/bootstrap-icons/icons/pencil-fill.svg');
  }

  &:hover {
    border-color: #5c5c5c;
    background-color: #5c5c5c;

    &:before {
      border-color: #5c5c5c;
    }

    &:after {
      background-color: #5c5c5c;
    }
  }
}

.controleelementinfo {
  position: absolute;
  z-index: 11000;
  top: 50%;
  transform-style: preserve-3d;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  // padding: 20px;
  width: calc(100vw - 70px);
  right: 30px;

  @include media-breakpoint-up(md) {
    right: calc(50vw - 250px - 8px - 15px);
    width: 500px;
  }
}

.controleelementinfo .controleelementinfo__relationship {
  border-top: 1px solid #ddd;
  padding: 15px 20px 20px;
  font-size: 12px;
}
.controleelementinfo .controleelementinfo__relationship > span {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}
.controleelementinfo .controleelementinfo__relationship > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.controleelementinfo .controleelementinfo__relationship > ul li {
  padding-left: 10px;

  &:before {
    content: '-';
    position: relative;
    top: -1px;
    left: -5px;
  }
}
.controleelementinfo .controleelementinfo__relationship > ul li a {
  text-decoration: none;
  color: #666;

  &:hover {
    color: #999;
  }
}

.controleelementinfo .controleelementinfo__icon {
  position: absolute;
  top: 13px;
  left: 10px;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.controleelementinfo .controleelementinfo__icon img {
  width: 50%;
  height: 50%;
  margin: 25%;
}

.controleelementinfo .controleelementinfo__title {
  font-weight: 600;
  margin-left: 40px;
  font-size: 14px;
}
.controleelementinfo .controleelementinfo__description {
  margin-left: 40px;
  color: #999;
  font-size: 13px;
}

.controleelementinfo .controleelementinfo__body {
  padding: 15px;
}

.controleelementinfo .controleelementinfo__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  border-top: 1px solid #ddd;
}

.controleelementinfo .controleelementinfo__info .blockstate {
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 3.5px 8px 6px;
  font-variant: all-small-caps;
}
.controleelementinfo .controleelementinfo__info .blockstate[data-type="modified"] {
  background-color: #e95b1c;
}
.controleelementinfo .controleelementinfo__info .blockstate[data-type="draft"] {
  background-color: #e95b1c;
}
.controleelementinfo .controleelementinfo__info .blockstate[data-type="published"] {
  background-color: #55bb82;
}
.controleelementinfo .controleelementinfo__info .blocktype,
.controleelementinfo .controleelementinfo__info .blockcreated,
.controleelementinfo .controleelementinfo__info .blockupdated {
  font-size: 11px;
  color: #999;
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
  // border: 1px solid #ddd;
  border-radius: 5px;
  padding: 4.5px 7px 2.5px;

  span {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    font-variant: all-small-caps;

    i {
      display: inline-block;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      width: 16px;
      height: 16px;
      transition: background-color .3s ease-in-out;
      background-color: #808080;
      margin-right: 5px;
    }

    i[data-type="page"] {
      mask-image: url('../node_modules/bootstrap-icons/icons/file-earmark-medical-fill.svg');
    }

    i[data-type="clock"] {
      width: 14px;
      height: 14px;
      opacity: .8;
      mask-image: url('../node_modules/bootstrap-icons/icons/clock.svg');
    }

    i[data-type="clock-history"] {
      width: 14px;
      height: 14px;
      opacity: .8;
      mask-image: url('../node_modules/bootstrap-icons/icons/clock-history.svg');
    }
  }
}
.controleelementinfo .controleelementinfo__info .blockstate {

  @include media-breakpoint-down(md) {
    margin-bottom: 5px;
  }
}
.controleelementinfo .controleelementinfo__info .blockcreated,
.controleelementinfo .controleelementinfo__info .blockupdated {

  a {
    color: #89c4bc;
    text-decoration: none;
    margin-left: 5px;
    font-style: italic;
  }

  span {
    margin-right: 5px;
    margin-bottom: 2px;
    color: #666;

    i {
      position: relative;
      // bottom: -2px;
      background-color: #808080;
    }
  }

  @include media-breakpoint-down(md) {
    width: 100%;
    padding-left: 0;
  }
}
.controleelementinfo .controleelementinfo__info .blockupdated {

  span {
    margin-right: 5px;
  }
}

.controlwindow {
  position: fixed;
  bottom: 58px;
  right: 50px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 600px;
  overflow: hidden;
}

.controlwindow .controlwindow__inner {}
.controlwindow .controlwindow__inner .controlwindow__head {}
.controlwindow .controlwindow__inner .controlwindow__head .controlwindow__tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #ddd;
}
.controlwindow .controlwindow__inner .controlwindow__head .controlwindow__tabs li {
  border-right: 1px solid #ddd;
}
.controlwindow .controlwindow__inner .controlwindow__head .controlwindow__tabs li button {
  background-color: #fdfdfd;
  border: none;
  padding: 5px 13px 7px;
  display: block;
  font-weight: 600;
  color: #808080;
  font-size: 12px;
}
.controlwindow .controlwindow__inner .controlwindow__head .controlwindow__tabs li[data-active] button {
  background-color: #f7f7f7;
}
.controlwindow .controlwindow__inner .controlwindow__body {
  height: 400px;
}
